body {
	margin: 0 auto;
	max-width: 45em;
}

img.mainImage {
	max-width: 100%;
}

.mainForm {
	margin: auto;
    width: 40%;
    border: 3px;
    padding: 20px;
}

ul {
	list-style-type: none;
	text-align: center;
	padding: 10 0 0 0 ;
}

li {
	display: inline;
}

h6 {
	font-size: 1.8rem;
	display: inline;
	padding: 7px;
}

header {
	color: black;
}

a.header {
	color: black;
}

input[type="file"] {
    max-width: 100%;
}

input[type="text"] {
	display: inline-block;
}

.gameForm {
	margin: auto;
    width: 40%;
    border: 3px;
    padding: 20px;
}

p.description {
	font-style: italic;
	font-size: 14px;
	text-align: center;
}

.mainImageBox {
	display: flex;
	justify-content: center;
}

p.giganticAnwer {
	font-size: 7em;
	text-align: center;
}

p.descriptionGiganticAnswer {	
	text-align: center;
}

a.restart {
	text-align: center;
	font-style: italic;
	font-size: 10px;	
}